/* Cart.css */
.checkout-button {
  background-color: green;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.checkout-form-container {
  top: 30px;
  right: 100px;
  padding: 30px; /* Adjust as needed */
  background-color:#0f3460;
  color: white;
  box-shadow:10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
  z-index: 99px; /* Adjust as needed */
}   

.po {
  background-color: green;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
